<h2>Szczegóły Filmu</h2>
<div class="movie-details">
    <h3><%= movie.title %> (<%= movie.year %>)</h3>
    <p><strong>Reżyser:</strong> <%= movie.director %></p>
    <p><strong>Opis:</strong></p>
    <p><%= movie.description %></p>
    <a href="/movies" class="button">Powrót do listy</a>
</div>
